@charset "utf-8";
/* CSS Document */
h4{
		font-size:50px;
	text-align:center;
	font-family:brush-script-std;
	color:#F05B5D;
}
h1{
	font-size:50px;
	text-align:center;
	font-family:brush-script-std;
	color:#F05B5D;
}
.imghead{
	text-align:center;
	margin-top:-10px;
}
.container1{
	background:#EC83CE;
}
.img1{
	padding:50px;
	text-align:center;
}
.img3{
	padding:50px;
	text-align:center;
}
.img2{
	text-align:center;
}
h2{
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size:36px;
	text-align:left;
}
h3{
	text-align:right;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size:34px;
}
h5{
	font-size:34px;
	font-family:la-belle-aurore;
	color:#511272;
}
.footer{
	background:#2A2828;
	color:#E71418;
	margin-top:100px;
}
.footer p{
	text-align:right;
}

.memory h1{
	text-align:center;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	color:#5E21DF;
	margin-top:80px;
	font-size:40px;
}
hr{
	width:180px;
	border:1px dotted #68F3B4;
}
.memory marquee{
	font-size:24px;
	color:#ED376A;
}
.pic1{
	margin-top:50px;
	float: left;
}
.venue h1{
		text-align:center;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	color:#5E21DF;
	font-size:40px;

}
.container2{
	background-image:url(b-w-vintage-flowers-ornament-2268069.jpg);
	opacity:0.5;
}
.box1{
	border: 1px dotted #F7C3C4;
	margin-top:50px;
	color:#EFB420;
}
.maps{
	align-items: center;
position: relative;


}
body{
	background-color: #D2D5D8
} 

